@import url('https://fonts.googleapis.com/css2?family=VT323&family=Monoton&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.name {
  font-family: 'Monoton', cursive;
}

.description {
  font-family: 'VT323', cursive;
  color: #FFD5FF;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.neon-text {
  text-shadow:
      0 0 1px #3b82f6,
      0 0 2px #3b82f6,
      0 0 12px #3b82f6,
      0 0 25px #3b82f6,
      0 0 30px #6b21a8,
      0 0 50px #6b21a8;
      /*
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
      */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  div#info::before {
    background-color: rgba(77, 77, 77, 0.4);
    content: '';
    filter: blur(18px);
    position: absolute;
    inset: 3%;
    z-index: -1;
  }
}

.flicker-slow{
  animation: flicker 20s linear infinite;
}

.flicker-fast{
  animation: flicker 10s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}